[submodule "MagiskToolsAlone/MagiskbootAlone"]
	path = MagiskToolsAlone/MagiskbootAlone
	url = https://github.com/Anatdx/MagiskbootAlone.git
[submodule "MagiskToolsAlone/bootctlAlone"]
	path = MagiskToolsAlone/bootctlAlone
	url = https://github.com/Anatdx/bootctlAlone.git
[submodule "MagiskToolsAlone/resetpropAlone"]
	path = MagiskToolsAlone/resetpropAlone
	url = https://github.com/Anatdx/resetpropAlone.git
[submodule "MagiskToolsAlone/ndk-busybox"]
	path = MagiskToolsAlone/ndk-busybox
	url = https://github.com/Anatdx/ndk-busybox.git
